@page "/clothing"

<h3 style="text-align: center;">Амаҭәа</h3>

<div class="words-container">
    @foreach (var word in words)
    {
    }
</div>
<div style="width: 794px; height: 553px">
    <table style="width: 590px">
    </table>
</div>

@code {
    private List<string> words = new List<string>
    {
        "Слово1",
        "Слово2",
        "Слово3",
        "Слово4",
        "Слово5"
    };

    private void ShowWord(string word)
    {
        Console.WriteLine($"Вы выбрали слово: {word}");
    }
}
