<nav class="navbar navbar-dark navbar-expand fixed-bottom bg-dark justify-content-center">
    <div class="container-fluid">
        <ul class="navbar-nav nav-justified w-100 text-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="material-icons">home</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/word-game">
                    <i class="material-icons">gamepad</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userprofile">
                    <i class="material-icons">person</i>
                </a>
            </li>
        </ul>
    </div>
</nav>